# Understanding Pandas Series and DataFrames - Lab

# Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Practice

## Objectives
You will be able to:
* Understand and explain what Pandas Series and DataFrames are and how they differ from dictionaries and lists
* Create Series & DataFrames from dictionaries and lists
* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

# Rename all the columns to lower case

In [3]:
#look at the columns
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [4]:
#get rid of the extra space
df.columns = df.columns.str.strip()

In [5]:
#make the column names lower case
df.columns = df.columns.str.lower()

In [6]:
#check that we got it working right
df.columns

Index(['c/a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time',
       'desc', 'entries', 'exits'],
      dtype='object')

# Change the Index to be the Line Names

In [7]:
#check out the firt few linenames
df.linename.head()

0    NQR456W
1    NQR456W
2    NQR456W
3    NQR456W
4    NQR456W
Name: linename, dtype: object

In [8]:
#change linename to be the new index
df = df.set_index('linename')
df.head()

,c/a,unit,scp,station,division,date,time,desc,entries,exits
linename,,,,,,,,,,
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Painstakingly change the index back

In [9]:
# find out how long the dataframe is
print(len(df))

197625

In [10]:
#make a dictionary with a '' key that has a value that is a list that is that long
numerical_index = {'': list(range(len(df)))}

In [11]:
#convert that dictionary into a dataframe
ni = pd.DataFrame(numerical_index)

In [12]:
# set the index to our new version of the original numerical index
df = df.set_index(ni[''])
df.head()

,c/a,unit,scp,station,division,date,time,desc,entries,exits
,,,,,,,,,,
0,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order.

In [13]:
#create the new Num_Lines column
df["Num_Lines"] = 1

In [14]:
#check to see if it worked
df.head()

,c/a,unit,scp,station,division,date,time,desc,entries,exits,Num_Lines
,,,,,,,,,,,
0,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,1
1,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,1
2,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,1
3,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,1
4,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,1

In [15]:
#how many unique stations are there?
unique_stations = len(df.station.unique())
unique_stations

373

In [16]:
#show me only the rows with the first unique station

df.loc[df.station == df.station.unique()[0]]

,c/a,unit,scp,station,division,date,time,desc,entries,exits,Num_Lines
,,,,,,,,,,,
0,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,1
1,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,1
2,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,1
3,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,1
4,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,1
5,A002,R051,02-00-00,59 ST,BMT,08/25/2018,20:00:00,REGULAR,6736562,2283425,1
6,A002,R051,02-00-00,59 ST,BMT,08/26/2018,00:00:00,REGULAR,6736683,2283460,1
7,A002,R051,02-00-00,59 ST,BMT,08/26/2018,04:00:00,REGULAR,6736696,2283461,1
8,A002,R051,02-00-00,59 ST,BMT,08/26/2018,08:00:00,REGULAR,6736705,2283483,1
9,A002,R051,02-00-00,59 ST,BMT,08/26/2018,12:00:00,REGULAR,6736746,2283524,1
10,A002,R051,02-00-00,59 ST,BMT,08/26/2018,16:00:00,REGULAR,6736873,2283587,1
11,A002,R051,02-00-00,59 ST,BMT,08/26/2018,20:00:00,REGULAR,6737067,2283631,1
12,A002,R051,02-00-00,59 ST,BMT,08/27/2018,00:00:00,REGULAR,6737136,2283656,1
13,A002,R051,02-00-00,59 ST,BMT,08/27/2018,04:00:00,REGULAR,6737146,2283658,1
14,A002,R051,02-00-00,59 ST,BMT,08/27/2018,08:00:00,REGULAR,6737169,2283736,1
15,A002,R051,02-00-00,59 ST,BMT,08/27/2018,12:00:00,REGULAR,6737301,2283965,1
16,A002,R051,02-00-00,59 ST,BMT,08/27/2018,16:00:00,REGULAR,6737553,2284025,1
17,A002,R051,02-00-00,59 ST,BMT,08/27/2018,20:00:00,REGULAR,6738257,2284091,1
18,A002,R051,02-00-00,59 ST,BMT,08/28/2018,00:00:00,REGULAR,6738430,2284121,1
19,A002,R051,02-00-00,59 ST,BMT,08/28/2018,04:00:00,REGULAR,6738442,2284126,1
20,A002,R051,02-00-00,59 ST,BMT,08/28/2018,08:00:00,REGULAR,6738474,2284216,1
21,A002,R051,02-00-00,59 ST,BMT,08/28/2018,12:00:00,REGULAR,6738621,2284402,1
22,A002,R051,02-00-00,59 ST,BMT,08/28/2018,16:00:00,REGULAR,6738886,2284425,1
23,A002,R051,02-00-00,59 ST,BMT,08/28/2018,20:00:00,REGULAR,6739630,2284478,1
24,A002,R051,02-00-00,59 ST,BMT,08/29/2018,00:00:00,REGULAR,6739804,2284508,1
25,A002,R051,02-00-00,59 ST,BMT,08/29/2018,04:00:00,REGULAR,6739812,2284512,1
26,A002,R051,02-00-00,59 ST,BMT,08/29/2018,08:00:00,REGULAR,6739847,2284600,1
27,A002,R051,02-00-00,59 ST,BMT,08/29/2018,12:00:00,REGULAR,6739986,2284838,1
28,A002,R051,02-00-00,59 ST,BMT,08/29/2018,16:00:00,REGULAR,6740257,2284896,1
29,A002,R051,02-00-00,59 ST,BMT,08/29/2018,20:00:00,REGULAR,6740888,2284941,1
...,...,...,...,...,...,...,...,...,...,...,...
155285,R245A,R051,01-06-01,59 ST,IRT,08/27/2018,00:00:00,REGULAR,117449539,167729,1
155286,R245A,R051,01-06-01,59 ST,IRT,08/27/2018,04:00:00,REGULAR,117449540,167744,1
155287,R245A,R051,01-06-01,59 ST,IRT,08/27/2018,08:00:00,REGULAR,117449541,167766,1
155288,R245A,R051,01-06-01,59 ST,IRT,08/27/2018,12:00:00,REGULAR,117449552,167999,1
155289,R245A,R051,01-06-01,59 ST,IRT,08/27/2018,16:00:00,REGULAR,117449572,168340,1
155290,R245A,R051,01-06-01,59 ST,IRT,08/27/2018,20:00:00,REGULAR,117449630,168865,1
155291,R245A,R051,01-06-01,59 ST,IRT,08/28/2018,00:00:00,REGULAR,117449636,168942,1
155292,R245A,R051,01-06-01,59 ST,IRT,08/28/2018,04:00:00,REGULAR,117449644,168948,1
155293,R245A,R051,01-06-01,59 ST,IRT,08/28/2018,08:00:00,REGULAR,117449648,168967,1
155294,R245A,R051,01-06-01,59 ST,IRT,08/28/2018,12:00:00,REGULAR,117449665,169236,1
155295,R245A,R051,01-06-01,59 ST,IRT,08/28/2018,16:00:00,REGULAR,117449678,169557,1
155296,R245A,R051,01-06-01,59 ST,IRT,08/28/2018,20:00:00,REGULAR,117449725,170124,1
155297,R245A,R051,01-06-01,59 ST,IRT,08/29/2018,00:00:00,REGULAR,117449728,170220,1
155298,R245A,R051,01-06-01,59 ST,IRT,08/29/2018,04:00:00,REGULAR,117449737,170226,1
155299,R245A,R051,01-06-01,59 ST,IRT,08/29/2018,08:00:00,REGULAR,117449743,170257,1
155300,R245A,R051,01-06-01,59 ST,IRT,08/29/2018,12:00:00,REGULAR,117449761,170475,1
155301,R245A,R051,01-06-01,59 ST,IRT,08/29/2018,16:00:00,REGULAR,117449785,170784,1
155302,R245A,R051,01-06-01,59 ST,IRT,08/29/2018,20:00:00,REGULAR,117449862,171287,1
155303,R245A,R051,01-06-01,59 ST,IRT,08/30/2018,00:00:00,REGULAR,117449868,171361,1
155304,R245A,R051,01-06-01,59 ST,IRT,08/30/2018,04:00:00,REGULAR,117449876,171367,1
155305,R245A,R051,01-06-01,59 ST,IRT,08/30/2018,08:00:00,REGULAR,117449877,171388,1
155306,R245A,R051,01-06-01,59 ST,IRT,08/30/2018,12:00:00,REGULAR,117449885,171627,1
155307,R245A,R051,01-06-01,59 ST,IRT,08/30/2018,16:00:00,REGULAR,117449897,171939,1
155308,R245A,R051,01-06-01,59 ST,IRT,08/30/2018,20:00:00,REGULAR,117449934,172437,1
155309,R245A,R051,01-06-01,59 ST,IRT,08/31/2018,00:00:00,REGULAR,117449941,172525,1
155310,R245A,R051,01-06-01,59 ST,IRT,08/31/2018,04:00:00,REGULAR,117449947,172539,1
155311,R245A,R051,01-06-01,59 ST,IRT,08/31/2018,08:00:00,REGULAR,117449948,172559,1
155312,R245A,R051,01-06-01,59 ST,IRT,08/31/2018,12:00:00,REGULAR,117449952,172761,1
155313,R245A,R051,01-06-01,59 ST,IRT,08/31/2018,16:00:00,REGULAR,117449974,173112,1
155314,R245A,R051,01-06-01,59 ST,IRT,08/31/2018,20:00:00,REGULAR,117450025,173481,1

In [17]:
#show me how many different trains go through that station
df.loc[df.station == df.station.unique()[0]]['c/a'].unique()

array(['A002', 'C021', 'C022', 'R244', 'R244A', 'R245', 'R245A'],
      dtype=object)

In [18]:
#make an empty list to hold the number of unique trains per station
trains_through_station = []

#go through the unique stations one at a time
for train_station in list(range(unique_stations)):
    
    #add the unique list of trains that go through that station to a list
    trains_through_station.append(len(df.loc[df.station == df.station.unique()[train_station]]['c/a'].unique()))

In [19]:
#check to make sure our values are right
trains_through_station[0:5]

[7, 2, 2, 4, 6]

In [ ]:
# reassign those values to be the number of unique trains that go through them
for station in list(range(unique_stations)):
    df.loc[df.station == df.station.unique()[station],'Num_Lines'] = trains_through_station[station]

In [ ]:
#check to see if the changes were applied
df.loc[df.station == df.station.unique()[0]].Num_Lines.head()
#this number lines up with our trains_through_station expected value.

## Write a function to clean a column name.

In [ ]:
df.columns

In [ ]:
def clean(col_name):
    cleaned = col_name.title()#Your code here; whatever you want to do to col_name. Hint: think back to str methods.
    
    return cleaned

In [ ]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [ ]:
#Checking the output, we can see the results.
df.columns

## Compare subway traffic by day of the week. Display this as a graph.

In [ ]:
df.Date.head()

In [ ]:
#convert the values of the 'Date' column into datetime structure
df.Date = pd.to_datetime(df.Date)

In [ ]:
print(df.Date.dtype)
df.Date.head()

In [ ]:
#add a column named 'Weekday' that gives the number of the day of the week for that date
df['Weekday'] = df.Date.dt.day_name()

In [ ]:
df.Weekday.head()

In [ ]:
#represent days of the week with numbers
days_of_week = df.Weekday.unique()

In [ ]:
#make a new column for total train traffic
df['Total_Traffic'] = df.Entries + df.Exits

#make a variable to hold the mean of Total Traffic
daily_mean = int(df.Total_Traffic.mean())

In [ ]:
#find the mean Total_Traffic for each day:
day_Mean_Traffic = []
for day in days_of_week:
    print(day + ' has a mean Traffic of ' + str(df[df.Weekday == day].Total_Traffic.mean()) + ' people.')
    day_Mean_Traffic.append(df[df.Weekday == day].Total_Traffic.mean())

In [ ]:
plt.bar(days_of_week,day_Mean_Traffic)
plt.xticks(rotation=-60,fontsize=12)
plt.title('Subway traffic by day',fontsize=20)
plt.ylabel('mean subway traffic',fontsize=15)
plt.ylim(df.Total_Traffic.mean()-10000000,df.Total_Traffic.mean()+10000000)

plt.bar('daily mean',df.Total_Traffic.mean())
plt.show()

## Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes.

In [ ]:
weekend_mean = int((day_Mean_Traffic[0] + day_Mean_Traffic[1])/2)
daily_mean = int(df.Total_Traffic.mean())
print('the daily mean traffic is '+ str(daily_mean) +' people. while the weekend mean is '+ 
      str(weekend_mean) + ',\ngiving us a difference of ' + str(weekend_mean - daily_mean) + 
     '. Based on this, I think it\'s reasonable to say that the weekend is busier on average')

# Drop a couple of columns

In [ ]:
# Your code here